[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colored = "*"
imutils = "*"
black = "*"
opencv-contrib-python = "*"
numpy = "*"
matplotlib = "*"
pillow-heif = "*"
pytest = "*"
pep8 = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.13"
